<figure {%- if include.class %} class="{{ include.class }}"{% endif -%} >
   <a href="{{ include.url | default: "/assets/images/founders.jpg" }}">
   <img src="{{ include.url | default: "/assets/images/founders.jpg" }}" {%- if include.width %} width="{{ include.width }}"{% endif -%}{%- if include.height %} height="{{ include.height }}"{% endif -%}{%- if include.title %} alt="{{ include.title }}" title="{{ include.title }}"{%- endif -%}/>
   </a>
   {%- if include.title %}{%- if include.caption != false %}<figcaption class="hcenter">{{ include.title }}</figcaption>{% endif -%}{% endif -%}
</figure>
